* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: #003193;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(17, 21, 64, 0.1);
    background: rgb(0 0 0 / 43%)
}

.title {
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.score {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

h2 {
    margin: 0;
}

.p-count, .c-count {
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
}

.move {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.movesleft {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.options {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.rock, .paper, .scissor {
    padding: 10px 20px;
    border-radius: 10px;
    background: yellow;
    outline: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    font-size: 1rem;
    color: #400a0a;
}

.rock:hover, .paper:hover, .scissor:hover {
    background: #0056b3;
    transform: scale(1.1);
}

.chosen-moves {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.chosen-moves > div {
    text-align: center;
    width: 50%;
}

.reload {
    display: none;
    padding: 10px 20px;
    background: #ffc107;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    font-size: 1rem;
    color: #000000;
}

.reload:hover {
    background: #e0a800;
    transform: scale(1.1);
}

.result {
    font-size: 1.2rem;
    margin-top: 20px;
    text-align: center;
}

/* Responsive Design */
@media screen and (max-width: 612px) { 
    .title {
        font-size: 2.5rem;
        text-align: center;
    }
    .score {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    .options {
        flex-direction: column;
    }
    .rock, .paper, .scissor {
        width: 100%;
        margin-bottom: 10px;
    }
    .chosen-moves {
        flex-direction: column;
    }
    .chosen-moves > div {
        width: 100%;
        margin-bottom: 10px;
    }
}
